@import './base/var.scss';

$button__level1-color: $color__light;
$button__level1-color-active: $color__blue;
.ag-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 3px;

    @include form-size();

    &.size-small {
        padding: 0 8px;

        .button-icon {
            font-size: calc($font-size__small + 2px);
        }
    }

    &.size-medium {
        padding: 0 15px;

        .button-icon {
            font-size: calc($font-size__base + 2px);
        }
    }

    &.size-large {
        letter-spacing: 4px;
        padding: 0 36px 0 40px;

        .button-icon {
            font-size: calc($font-size__large + 2px);
        }
    }

    &.ag-level1 {
        color: $button__level1-color;
        background: #fff;
        border-color: #dcdfe6;
        &:hover {
            color: $button__level1-color-active;
            background: #ecf5ff;
            border-color: #c6e2ff;
        }

        &:active {
            color: $button__level1-color-active;
            background: #ecf5ff;
            border-color: $button__level1-color-active;
        }

        &.is-disabled {
            color: #a8abb2;
            background: #fff;
            border-color: #e4e7ed;
        }
    }

    &.ag-level2 {
        color: #fff;
        background: #409eff;
        border-color: #409eff;

        &:hover {
            color: #fff;
            background: #79bbff;
            border-color: #79bbff;
        }

        &:active {
            color: #fff;
            background: #337ecc;
            border-color: #337ecc;
        }

        &.is-disabled {
            color: #fff;
            background: #a0cfff;
            border-color: #a0cfff;
        }
    }

    &.is-disabled {
        cursor: not-allowed;
    }

    .button-icon {
        &:first-child {
            margin-left: -4px;
        }

        &:last-child {
            margin-right: -4px;
        }

        + .button-text {
            margin-left: 4px;
        }
    }

    .button-text {
        + .button-icon {
            margin-left: 4px;
        }
    }
}
